<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body>
    <div style='text-align:center'>
      <h2>Your URL is not found and you are being redirected to Nestjs's
        documentation</h2>
      <p>URL:
        {{shortUrl}}
        not found</p>
    </div>

    <script>
      setTimeout(function() { window.location.href =
      "https://docs.nestjs.com/techniques/mvc"; }, 5000);
    </script>

  </body>
</html>